/*
    Added Poppins font-family, same font used in Acid Labs webPage
    Also tried to make the webpage using similar colors from Acid Lab Logo
*/
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.otf');
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../assets/fonts/Poppins-ExtraLight.otf');
}

* { 
    font-family: "Poppins" !important;
}

.error-wrap {
    text-align: center;
    margin-bottom: 50px;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.inputValue {
    font-family: "Poppins Light" !important;
    outline-color: #39b54a;
}

.acid-logo {
    height: 80px;
    width: 300px;
}

.logo-container {
    background-color: #292929;
    width: 100%;
    margin: auto;
    text-align: left;
}

.green {
    color: #39b54a;
}

.table {
    border-collapse: collapse;
    box-shadow: 2px 2px 5px #818181;
}

.table ,th, td {
    border-bottom: 1px solid #292929;
    padding: 1.3em;
}

.table-container {
    display: flex;
    justify-content: center;
}

.container-search {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.container-search > input {
    width: 500px;
    height: 40px;
    color: #818181;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    outline: none;
    border: transparent;
    border-bottom: 1px solid #39b54a;
}

.container-page-limits {
    margin-top: 10px;
    text-align: center;
}

.container-footer {
    background-color:  #292929;
    position: fixed;
    bottom: 0px;
    padding: 4px;
    width: 100%;
    color: #fff;
    font-size: 12px;
}

.container-footer > p {
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-footer > p > strong {
    color: #39b54a;
}

.remove-button, .change-page-button, .save-user-button {
    background: #333333;
    color: #fff;
    font-size: 13px;
    border: 3px solid #333333;
    border-radius: 0;
    outline: none;
    font-weight: 700;
    transition: all 0.5s ease;
    font-family: "Poppins Light";
}

.container-button:hover, .change-page-button:hover,.save-user-button:hover, .remove-button:hover {
    cursor: pointer;
    background: #39b54a;
    border-color: #39b54a;
    color: #333333;
    text-decoration: none;
}

.save-user-button {
    width: 80px;
}

.change-page-button {

}

.spinner {
    width:100px;
    height:100px;
    border-radius:50%;
    border:5px solid #39b54a;
    background: transparent;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: #39b54a;
    animation: spin 1.5s linear infinite;
    position:relative;
    margin: auto;
    margin-top: 20%;
}

@keyframes spin{
    0%{
        background:transparent;
        transform: rotate(720deg); 
    }
}

.container-register > button{
    background: #333333;
    color: #fff;
    font-size: 13px;
    border: 3px solid #333333;
    border-radius: 0;
    outline: none;
    font-weight: 700;
    transition: all 0.5s ease;
    font-family: "Poppins Light";
    margin-top: 20px;
}

.container-register > button:hover {
    cursor: pointer;
    background: #39b54a;
    border-color: #39b54a;
    color: #333333;
    text-decoration: none;
}

.user-form, .container-button {
    text-align: left;
    margin: 50px;
    display: flex;
}

.container-button {
    margin: 0;
}

.modalContainer > div {
    border-radius: 10px;
    width: 100%;
}

.container-register {
    text-align: center;
}